.authenWrap
  height 100%
  background-color #F2F4F7
  .el-main
    padding 38px 324px 0
    .authen
      background-color #ffffff
      padding-top 33px
      padding-bottom 260px
      .point1
        font-size 14px
        color #ff0000
        line-height 15px
        height 15px
        margin-bottom 40px
        img
          vertical-align middle
          margin-left 36px
          margin-right 14px
      .point2
        margin 86px 334px 0
        p
          font-size 14px
          color #8e8e8e
          margin-bottom 11px
          margin-left 129px
          line-height 14px
        p:nth-child(1)
          font-size 20px
          letter-spacing 1px
          color #ff0000
          margin-bottom 18px
          margin-left 0
        p:nth-child(4)
          margin-bottom 0
      .btns
        margin-left 479px
        .el-button
          width: 100px;
          height: 40px;
          background-color: #4680ff;
          border-radius: 5px;
          font-size: 16px;
          letter-spacing: 1px;
          color: #ffffff;
        .el-button:nth-child(2)
          background-color #ffffff
          color #4680ff
          border 1px solid #4680ff
        .el-button+.el-button
          margin-left 115px
      .form
        font-size 0
        width 60%
        margin-left 242px
        text-align center
        .el-form-item__label
          padding-right 49px
          font-size 16px
          letter-spacing 1px
          color #666666
        .el-form-item__content
          text-align left
          font-size 18px
          letter-spacing 1px
          color #243b7f
        .el-form-item:nth-child(2)
          .el-form-item__content
            input
              border-top none
              border-left none
              border-right none
              border-bottom 1px solid #e8e8e8
            input:nth-child(2)
              position absolute
              right 0
              top 7px
              width: 90px;
              height: 34px;
              background-color: #4680ff;
              border-radius: 17px;
              font-size: 14px;
              letter-spacing: 1px;
              color: #ffffff;
