.error-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    text-align: center;
    .error-container,
    .refresh-container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: tranlate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      span {
        padding-left: 10px;
      }
      .error-icon {
        p {
          color: #D0021B;
          &:last-child {
            padding: 22px 0px 48px;
          }
          i {
            font-size: 70px;
          }
        }
      }
    }
  }