.dimission
  .search
    margin-left 20px
    float right
    width 320px
    .el-input__inner
      border-radius 20px
      border 1px solid #999
  .operationCon
    position absolute
    top 0
    right 0
  .cardCon
    margin-bottom 20px
  .el-card
    border-radius 10px
    margin-bottom 20px
    text-align left
    color #333
  .lz
    color #999
  .card-content
    .el-col
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    a 
      color #333
      cursor default
  .cart-title-name
    color #333
    font-size 16px
    font-weight 700
  .itemIcon   
    margin-left 15px
    color #409EFF
    font-size 16px
  .gender
    color #333
    margin-left 5px