@import "../../../../style/all.styl";
.marauto
  margin:0 auto;
.al
  text-align left
.ar
  text-align right
.ac
  text-align center
.vb
  vertical-align:bottom
.vm
  vertical-align:middle
.vt
  vertical-align:top
.letters0
  letter-spacing:0px
.letters1
  letter-spacing:1px
.letters2
  letter-spacing:2px
.letters3
  letter-spacing:3px
.w5p
  width 5%
.w20p
  width 20%
.w29p
  width 29%
.w25p
  width 25%
.w32p
  width 32%
.w33p
  width 33%
.w35p
  width 35%
.w49p8
  width 49.8%
.w49p9
  width 49.9%
.w40p
  width 40%
.w50p
  width 50%!important
.w60p
  width 60%!important
.w80p
  width 80%
.w90p
  width 90%
.w95p
  width 95%
.w98p
  width 98%
.w99p
  width 99%
.w99p3
  width 99.3%
.w100p
  width 100%
.w37
  width 37px
.w50
  width 50px
.w80
  width 80px
.w90
  width 90px
.w100
  width 100px
.w120
  width 120px
.w140
  width 140px!important
.w150
  width 150px
.w180
  width 180px
.w200
  width 200px
.w220
  width 220px
.w282
  width 282px
.w284
  width 284px
.w300
  width 300px
.w387
  width 387px
.w400
  width 400px
.w450
  width 450px
.h30
  height 30px
.h40
  height 40px
.h50
  height 50px
.h51
  height 51px
.h60
  height 60px
.h400
  height 400px
.h503
  height 503px
.marginLeft-22
  margin-left -22px
.marginLeft-24
  margin-left -24px
.marginLeft-111
  margin-left -111px
.marginLeft-100
  margin-left -100px
.marginLeft-80
 margin-left -80px
.marginLeft5
  margin-left 5px
.marginLeft10
  margin-left 10px
.marginLeft20
  margin-left 20px
.marginLeft30
  margin-left 30px
.marginLeft35
  margin-left 35px
.marginLeft37
  margin-left 37px
.marginLeft80
  margin-left 80px
.marginLeft100
  margin-left 100px
.marginLeft15p
  margin-left 15%
.marginLeft18p
  margin-left 18%
.marginLeft28p
  margin-left 28%
.marginRight5
  margin-right 5px
.marginRight10
  margin-right 10px
.marginRight15
  margin-right 15px
.marginRight22
  margin-right 22px
.marginRight50
  margin-right 50px
.marginRight12p
  margin-right 12%
.marginTop10
  margin-top 10px
.marginTop15
  margin-top 15px
.marginTop20
  margin-top 20px
.marginTop34
  margin-top 34px
.marginTop43
  margin-top 43px
.marginTop50
  margin-top 50px
.marginTop61
  margin-top 61px
.marginTop70
  margin-top 70px
.marginTop154
  margin-top 154px
.marginBottom50
  margin-bottom 50px
.marginBottom28p
  margin-bottom 28%
.paddingRight10
  padding-right:10px;
.paddingRight20
  padding-right:20px;
.paddingLeft20
  padding-left:20px;
.paddingLeft40
  padding-left:40px;
.paddingTop5
  padding-top:5px;
.paddingTop10
  padding-top:10px;
.paddingTop12
  padding-top:12px;
.paddingTop20
  padding-top:20px;
.paddingTop30
  padding-top:30px;
.paddingTop50
  padding-top:50px;
.padding5
  padding:5px;
.paddingBottom5
  padding-bottom:5px;
.paddingBottom10
  padding-bottom:10px;
.paddingBottom12
  padding-bottom:12px;
.paddingBottom20
  padding-bottom:20px;
.paddingBottom50
  padding-bottom:50px;
.paddingRight100
  padding-right:100px;
.borderBottomNone
  border-bottom:none;
.borderLeftNone
  border-left:none;
.colorRed
  color:red;
.colorwhite
  color #fff;
.colorBlue
  color #243b7f
.colorBl
  color #4680ff
.colorGray
    color #666666
.borderColorBl
   border-color: #409EFF!important;
.bgBl
  background:#409EFF;
.bgBlue
  background:#243b7f;
.bgWhite
    background #fff
.fontSize14
  font-size 14px
.fontSize16
  font-size 16px
.fontSize18
  font-size 18px
.fontSize20
  font-size 20px
.fontSize22
  font-size 22px
.fontSize25
  font-size 25px
.fontSize26
  font-size 26px
.fontSize28
  font-size 28px
.fontSize30
  font-size:30px;
.fontSize32
  font-size:32px;
.fontSize50
  font-size:50px;
.fontWeight
  font-weight bold
.floatL
  float:left;
.floatR
  float:right;
.clearBoth
  clear:both;
.displayNo
  display:none;
.displayIn
  display inline-block
.cursor
  cursor: pointer;
.selectNo
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
.server
  .main
    width 100%
    padding 30px 67px 0
    .el-tabs__header
      margin 0 0 33px
      .el-tabs__nav
        width 100%
        .el-tabs__item
          width 50%
          color #666
          font-size 22px
          &:hover
            color #409EFF
        .el-tabs__item.is-active
          color #333
        .el-tabs__active-bar
          background-color #409EFF
.serverMain
  position relative
  .el-tabs__content
    position static