@import "../../../style/all.styl";
.supplyWrap
  height 100%
  background-color #F2F4F7
  .el-main
    padding 0
    .supply
      padding-top 46px
      font-size 0
      text-align center
      margin 38px 324px 0
      background-color #ffffff
      .btn
        position absolute
        right 0
        top 0
        width 90px
        height 34px
        font-size 14px
        letter-spacing 1px
        background-color #4680ff
        color #ffffff
        border-color #4680ff
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 4px;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        border-width 0
        border-radius 17px
      .el-input
        width 100%!important
      .el-form-item__label
        font-size 18px
        color #666
        float left
        padding 0
        letter-spacing 15px
        text-align right 
      .el-form-item
        margin-bottom 12px
      .el-form-item:nth-child(4) .el-form-item__content
        position relative
        .btn
          position absolute
          right 0
          top 0
          width 90px
          height 34px
          font-size 14px
          letter-spacing 1px
          background-color #4680ff
          color #ffffff
          border-color #4680ff
          display: inline-block;
          line-height: 1;
          white-space: nowrap;
          cursor: pointer;
          border-radius: 4px;
          -webkit-appearance: none;
          text-align: center;
          box-sizing: border-box;
          border-width 0
          border-radius 17px
      .el-form-item__content
        float left
        width 50%
        margin 0 !important
        left 2%
        /* WebKit browsers */
        ::-webkit-input-placeholder
          font-size 16px
        /* Mozilla Firefox 4 to 18 */
        :-moz-placeholder
          font-size 16px
        /* Mozilla Firefox 19+ */
        ::-moz-placeholder 
          font-size 16px
        /* Internet Explorer 10+ */
        :-ms-input-placeholder
          font-size 16px
        .el-select
          width 100%
          .el-input
            width 100%
        .el-input__inner
          border-bottom 1px solid #e8e8e8
          border-left none
          border-right none
          border-top none
          border-radius 0px
          background-color rgba(255,255,255,0)
      .el-form-item__label:before
        margin-right -10px !important
      .ruleForm,.ruleForm1
        margin 0 auto
        width 70%
      .ruleForm1
        .el-form-item__label
          width 35% !important
      .ruleForm
        position relative
        .el-form-item__label
          width 30% !important
        .show
          position absolute
          right: 11px;
          top: 23px;
          width: 16px;
          height: 10px;
          border: 0 !important;
          padding: 0;
          background-image url('../../../assets/img/register/close.png')
          background-repeat no-repeat
          background-position center center 
          background-color #fff
          outline none
        .active
          background-image url('../../../assets/img/register/open.png')
        .el-form-item:nth-child(1) .el-input__inner
          border solid 1px #e8e8e8
      .argeen
        margin-top 30px
        .el-checkbox__inner
          background-color #4680ff
        .el-checkbox__label
          span
            letter-spacing 1px
            color #4b5169 !important
            font-size 16px
            i
              color #4680ff
      .register
        margin-top 30px
        margin-bottom 55px
        font-size 16px
        letter-spacing 1px
        width 100px
        height 40px
        padding 0
        border-radius 5px
        background-color #4680ff
      .bg
        width 100%
        height 100%
        background-color #000
        position absolute
        top 0
        left 0
        z-index 2
        opacity 0.6
        display none
      .failed  
        margin  auto
        position  absolute
        z-index 3
        top  0
        bottom  0
        left  0
        right  0
        display none
        width  520px
        height 340px
        background-color  #ffffff
        box-shadow  0px 3px 8px 0px 
          rgba(22, 155, 212, 0.22)
        img
          width 63px
          height 63px
          margin-top 62px
        p
          font-size 20px
          letter-spacing 1px
          color #666666
          margin-top 25px
        .affirm
          margin-top 50px
          width 150px
          height 40px
          padding 0
          background-color #4680ff
          font-size 18px
          letter-spacing 1px
          color #ffffff
      .failed1
        margin  auto
        position  absolute
        z-index 3
        top  0
        bottom  0
        left  0
        right  0
        display none
        width  520px
        height 340px
        background-color  #ffffff
        box-shadow  0px 3px 8px 0px 
          rgba(22, 155, 212, 0.22)
        img
          width 63px
          height 63px
          margin-top 62px
        p,div
          font-size 20px
          letter-spacing 1px
          color #666666
          margin-top 25px
        .affirm
          margin-top 50px
          width 150px
          height 40px
          padding 0
          background-color #4680ff
          font-size 18px
          letter-spacing 1px
          color #ffffff
      .succeed  
        margin  auto
        position  absolute
        z-index 3
        top  0
        bottom  0
        left  0
        right  0
        display none
        width  520px
        height  350px
        background-color  #ffffff
        box-shadow  0px 3px 8px 0px 
          rgba(22, 155, 212, 0.22)
        img
          width 63px
          height 63px
          margin-top 40px
        p:nth-child(1)
          margin-top 36px
        p
          font-size 16px
          letter-spacing 1px
          color #666666
          margin-top 15px
        .success
          font-size 18px
          color #4680ff
          margin-bottom 30px
          margin-top 25px
        .affirm
          margin-top 50px
          padding 0
          width 150px
          height 40px
          background-color #4680ff
          font-size 18px
          letter-spacing 1px
          color #ffffff
      .steps
        width 50%
        margin 0 auto 50px
        .el-step__line
          left 80%
          right -20%