.promise
  height 100%
  .el-main
    height 100%
    background-color #f2f4f7
    padding 0
    .mainwrap
      background-color #ffffff
      padding-top 25px
      .promiseTitle
        text-align center
        font-size 18px
        margin 15px 0
        color #666666
        font-weight bold
        letter-spacing: 1px;
      .promiseText
        text-align left
        font-size 16px
        margin 0 180px 0
        color #333333
        line-height 24px
        letter-spacing: 1px;
      .btns
        height 100px
        line-height 100px
        text-align center
        font-size 0
        input
          width 90px
          height 34px
          border-radius 17px
          border 0
          background-color #4680ff
          color #ffffff
          font-size 14px