.editOrganization{
  width: 100%
  height: auto;
  .el-form-item__label{
    margin-right: 0 !important
  }
  .mainWrap{
    height: 100%;
    padding-bottom: 12px;
    background: #f2f4f7;
    .tableWrap{
      .el-form{
        width: 100%;
        table{
          width: 100%;
        }
        table>tr>td {
          display: table-cell;
          vertical-align: middle;
          border: 1px solid #dfdfdf;
          padding: 3px 10px;
          text-align: left;
          line-height: 34px;
          background: #fff
        }
        .pro-title {
          color: #303133;
          margin-bottom: 15px;
          font-size: 18px;
          text-align: left;
          font-weight: 600;
          }
        .labelStyle {
          background: #E5F0FF;
          width: 200px;
          text-align: left;
          }
        .v_disabled{
          background: #fff;
          text-align: left;
          padding: 0 0 0 15px;
          // padding-left: 20px;
          font-size: 14px;
          color: #333333;
          line-height 40px;
        }
        .reportColumn {
          background: #E5F0FF;
          color: #333;
          text-align: center!important;
          padding: 3px 0;
        }
        .red{
          color: #f56c6c;
          margin-right: 6px;
        }
        .el-form-item{
          margin-bottom: 0; 
          .el-form-item__content{
            background: #fff;
            text-align: left;
            font-size: 14px;
            color: #333333;
            height: 40px;
            line-height: 40px;
            .el-form-item__error{
              top:50%;
              left:30%;
            }
          }
          .el-form-item__label{
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
            text-align: left;
            padding: 0 0 0 10px;
            background: #e5f0ff;
            width: 200px;
            border: 1px soild  #dfdfdf;
          }
         
          .el-input.is-disabled .el-input__inner{
            background-color: transparent;
            color: #999999;
          }
          .el-input{
            font-size: 14px;
            width: 100%;
            .el-input__inner{
              border: 0;
              border-radius: 0;
              text-align: left;
              cursor: auto;
              font-size: 14px;
              color: #333333;
              height: 40px;
              line-height: 40px;
              margin-right: 20px;
            }
          .el-select{
            width: 100%;
          }
        }
        .el-form-item__error{
          top: 25%;
          left: 20%;
        }
      }
      }
    }
  }
  .btns{
      font-size 0
      margin 30px 0 10px 0
    }
}
