.stopServices{
    a{
      color #4680ff
    }
    .mainWrap{
      background-color #f2f4f7
      table{
        width 100%
      }
      table>tr>td {
        display: table-cell;
        vertical-align: middle;
        border: 1px solid #dfdfdf;
        padding: 3px 10px;
        text-align: left;
        line-height: 34px;
      }
    .tableName{
      background: #E5F0FF;
      width: 200px;
      text-align: left;
    }
    .tableVal{
      text-align left
      background: #fff
    }
    .textarea{
      font-size 14px;
      color #000
    }
    .red{
      color #f56c6c
    }
    .btns{
      margin-top 30px;
      padding-bottom 40px;
    }
    input{
      width 90px
      height 34px
      margin-right 75px
      border-radius 17px
      border 0
      font-size 14px
      cursor pointer
    }
    }
}