.fontSize26
  font-size 26px
.fontSize34
  font-size 20px
.fontSize16
  font-size 16px
.paddingTop22
  padding-top 12px
.marginTop5
  margin-top 5px
.marginTop10
  margin-top 10px
.marginTop20
  margin-top 20px
.marginTop15
  margin-top 15px
.marginBot20
  margin-bottom 20px
.colorBl
  color #4680ff
.marginLeft20
  margin-left 20px
.marginLeft35
  margin-left 35px
.leftMenu
  height 100%
.el-aside
  background: -webkit-linear-gradient(#2855ba, #3aa3f6); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#2855ba, #3aa3f6); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#2855ba, #3aa3f6); /* Firefox 3.6 - 15 */
  background: linear-gradient(#2855ba, #3aa3f6); /* 标准的语法（必须放在最后） */
  color #333
  text-align center
  height 100%
  width 280px!important
  overflow-x hidden
  margin-left 24px
.title
  background #3b404a
  height 80px
  color #fff
  text-align center
  line-height 32px
.userLeft
  width 260px;
  height 319px
  text-align center
.usercontent
  height 294px
  border-bottom 1px solid #545b69
  margin 34px auto 0px auto
  color #fff
  font-size 16px
.el-menu-vertical-demo .el-submenu__title,.el-menu-vertical-demo .el-menu-item
  background-color transparent!important
  text-align left
  color #fff  !important
  height 40px
  line-height 40px
.el-menu-vertical-demo .el-submenu__title
  font-size 16px!important
.el-menu-vertical-demo .el-menu-item
  font-size 14px !important
.routerLink .el-menu-item
  font-size 16px !important
.el-submenu__title i
  right 50px
  color #fff
.el-menu
  border-right none
  color #fff
  background transparent !important
.el-container
  height 100%