.fontSize26
  font-size 26px
.fontSize34
  font-size 20px
.fontSize16
  font-size 16px
.paddingTop22
  padding-top 12px
marginLeft20
  margin-left 20px
.needLeftMenu
  height 100%
.el-aside
  background-color #343841
  color #333
  text-align center
  height 100%
  width 280px!important
  overflow-x hidden
.title
  background #3b404a
  height 80px
  color #fff
  text-align center
  line-height 32px
.el-menu-vertical-demo .el-submenu__title,.el-menu-vertical-demo .el-menu-item
  background-color #343841!important
  font-size 16px!important
  text-align left
  color #999  !important
.el-submenu__title i
  right 50px
.el-menu-item.is-active
  color #169bd4!important
  border-left 4px solid #169bd4
  background #434853!important
.is-opened .el-menu-item
  background #434853!important
.el-menu
  border-right none
  color #fff
.el-main
  background-color #f2f4f7
  color #333
  text-align center
  height 100%
  padding 0px
.el-container
  height 100%
.userinfo
  height 238px
  border-bottom: 1px solid #545b69
  .buddha
    width 136px
    height 136px
    border-radius 50%
    background-color #d8d8d8
    margin 54px auto 23px
    overflow: hidden
    position: relative
    .buddha-img
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      width: 100%
  .username
    font-size 20px
    letter-spacing 1px
    color #ffffff
