@import "../../../style/all.styl";
.account
  .el-input
    width 100%!important
  .main
    text-align left
    .mainWrap
      margin 64px 50px 0
      background-color #fff
      height 700px
      padding-top 50px
      .wrap
        margin 0 124px
        letter-spacing 1px
        color #666666
        .el-row
          height 134px
        .message
          font-size 22px
          margin-bottom 39px
        .usermessage
          font-size 0
          margin-bottom 52px
          .username
            font-size 20px
            margin-right 43px
          .text
            font-size 18px
            color #333333
        .rightT
          float right
          width 92px
          margin-right 183px
          .via
            width 88px
            height 89px
            border-radius 50%
            border: solid 1px #4680ff
            margin-bottom 13px
            img
              width 86px
              height 87px
              border-radius 50%
              margin-top 1px
              margin-left 1px
              background-color #ffffff
          .btn
            width 92px
            height 29px
            background-color #169bd4
            font-size 14px
            color #ffffff
            border 0
            outline none
            cursor pointer
        .el-collapse
          border 0
          .el-collapse-item:nth-child(2)
            .el-collapse-item__wrap
              margin-top 27px
            .el-form-item:nth-child(4)
              .el-form-item__content
                width 70%!important
            .el-form-item:nth-child(5) 
              .el-form-item__content
                position relative
                .btn
                  position absolute
                  right 0
                  bottom 7px
                  width 90px
                  height 34px
                  font-size 14px
                  letter-spacing 1px
                  background-color #4680ff
                  color #ffffff
                  border-color #4680ff
                  display: inline-block;
                  line-height: 1;
                  white-space: nowrap;
                  cursor: pointer;
                  -webkit-appearance: none;
                  text-align: center;
                  box-sizing: border-box;
                  border-width 0
                  border-radius 17px
          .el-collapse-item:nth-child(1)
            margin-bottom 30px
          .el-collapse-item
            .el-collapse-item__header
              border 0
              position relative
              font-size 20px
              letter-spacing 1px
              color #666
              &::after
                display block
                content ''
                position absolute
                left 0
                bottom 0
                width 100%
                height 1px
                background-color #999
              &::before
                z-index 1
                display block
                content ''
                position absolute
                left 0
                bottom -2px
                width 10%
                height 5px
                background-color #4680ff
            .el-collapse-item__wrap
              border 0
              .el-collapse-item__content
                padding-bottom 0
                p
                  color #ff0000
                  font-size 14px
                  margin-top 33px
                  margin-bottom 25px
                  margin-left 5%
                .el-form
                  width 40%
                  .el-form-item:nth-child(4) .el-form-item__content
                    position relative
                    .btn
                      position absolute
                      right 0
                      bottom 7px
                      width 90px
                      height 34px
                      font-size 14px
                      letter-spacing 1px
                      background-color #4680ff
                      color #ffffff
                      border-color #4680ff
                      display: inline-block;
                      line-height: 1;
                      white-space: nowrap;
                      cursor: pointer;
                      -webkit-appearance: none;
                      text-align: center;
                      box-sizing: border-box;
                      border-width 0
                      border-radius 17px
                  .el-form-item.is-required .el-form-item__label:before
                    display none
                  .el-form-item:nth-child(1)
                    .el-input__inner
                      border 0!important
                  .el-form-item
                    margin-bottom 33px
                    .el-form-item__label
                      width 30%!important
                      padding-right 6px
                      font-size 16px
                      letter-spacing 1px 
                      color #666
                      margin 0!important
                    .el-form-item__content
                      margin-left 30%!important
                      .is-disabled .el-input__inner
                        background-color #fff
                        color #333333
                        font-size 16px
                        cursor text
                        letter-spacing 1px
                      .el-input
                        font-size 14px
                        letter-spacing 1px
                        .el-input__inner
                          border-top 0
                          border-right 0
                          border-left 0
                          border-radius 0
                          border-bottom 1px solid #666
                .sure
                  width 40%
                  text-align center
                  .btn2
                    width 100px
                    height 40px
                    background-color #4680ff
                    font-size 16px
                    letter-spacing 1px
                    color #ffffff
                    margin 0 auto
                    border-radius 5px