.fin-headback
  background #5C8FFF !important
  overflow-y hidden
  text-align center !important
  color #fff
.company
  padding 20px 0 0
  background #fff
  .marginTop5 
    margin-top 5px
  .dateColor
    color #4680ff
  .textRight
    text-align right !important
  .textCenter
    text-align center !important
  .com-title
    margin-bottom 8px
    font-size 20px
    font-weight 600
    text-align center !important
  .el-col
    text-align left
.fin-wrap 
  padding-bottom 0
  background #fff !important
  overflow-y hidden